<%- include("partials/header.ejs") %>
<h1 class="new-post">New Post</h1>
<div class="container">
  <form action="/compose" method="post">
    <div class="form-group">
      <%# to access the input data, it's corresponding lable for="" & input
      name="" should be same. %>
      <label for="postTitle">Title :</label>
      <input type="text" name="postTitle" class="form-control" />
      <label for="postBody">Post :</label>
      <textarea
        name="postBody"
        id="postContent"
        class="form-control"
        rows="6"
        cols="50"
      ></textarea>
      <label for="postAuthor">By :</label>
      <input type="text" name="postAuthor" class="form-control" />
    </div>
    <button
      class="btn btn-secondary"
      type="submit"
      name="button"
      id="submit_btn"
    >
      Publish
    </button>
  </form>
</div>
<%- include("partials/footer.ejs") %>
